NEXT_PUBLIC_API_BASE_URL=your_api_base_url
NODE_ENV=development
NEXTAUTH_SECRET=your_nextauth_secret

# Google Auth Credentials
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
